body {
  margin-top:10px;
  background: linear-gradient(33deg, #ff4242, #fdcf5d, #ff76ca);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 78%}
    50%{background-position:100% 23%}
    100%{background-position:0% 78%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 78%}
    50%{background-position:100% 23%}
    100%{background-position:0% 78%}
}
@keyframes AnimationName { 
    0%{background-position:0% 78%}
    50%{background-position:100% 23%}
    100%{background-position:0% 78%}
}
header {
  position:fixed;
  top:0;
  left:0;
  background: #CCC;
  width: 100vw;
  height: 60px;
  text-align: center;
  z-index: 1;

  background: linear-gradient(33deg, #ff4242, #fdcf5d, #ff76ca);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}
.screen {
  display: flex;
  justify-content: center;
  align-items: center;
}
.noShow{
  opacity:0;
}
.game {
  width:600px;
  height: 980px;
  background: lightpink;
  font-size: 30px;
  border-radius: 40px;
  margin: 50px;
  overflow: hidden;
}
.scoreboard {
  border-radius: 10px;
  background: lavender;
  width: 200px;
  height: 500px;
  padding: 50px;
  margin: 50px;
}
.instructions {
  border-radius: 10px;
  background: lightpink;
  width: 300px;
  padding: 50px;
  margin: 50px;
}
.set {
  position: absolute;
  color: black;
  margin-top: -60px;
}
#animateWord0 {
  animation: expand 5s linear;
  animation-delay: 2s;
}
#animateWord1 {
  animation: expand 5s linear;
  animation-delay: 3s;
}
#animateWord2 {
  animation: expand 5s linear;
  animation-delay: 1s;
}
#animateWord3 {
  animation: expand 5s linear;
  animation-delay: 4s;
}
#animateWord4 {
  animation: expand 5s linear;
  animation-delay: 5s;
}
#animateWord5 {
  animation: expand 5s linear;
  animation-delay: 6s;
}
#animateWord6 {
  animation: expand 5s linear;
  animation-delay: 7s;
}
#animateWord7 {
  animation: expand 5s linear;
  animation-delay: 8s;
}
#animateWord8 {
  animation: expand 5s linear;
  animation-delay: 9s;
}
#animateWord9 {
  animation: expand 5s linear;
  animation-delay: 10s;
}
.position0{
  margin-left: 70px;
}
 .position1{
  margin-left: 200px;
}
 .position2{
  margin-left: 300px;
}
 .position3{
  margin-left: 420px;
}
 .position4{
  margin-left: 200px;
}
 .position5{
  margin-left: 300px;
}
 .position6{
  margin-left: 420px;
}
 .position7{
  margin-left: 300px;
}
 .position8{
  margin-left: 420px;
}
 .position9{
  margin-left: 420px;
}
@keyframes expand{
    0%{
      margin-top:0px;
      margin-bottom:680px;
    }
    100%{
      margin-top:680px;
      margin-bottom:0px;
    }
}
