#root {
  display: flex;
  justify-content: center;
}
.game {
  width: 40vw;
  height: 700px;
  background: darkslategrey;
  position: fixed;
  font-size: 30px;
}
.bullet {
  border-left: 1px solid black;
  display: inline-block;
}
.circle{
   border-radius: 100px;
   background: black;
   width: 15px;
   height: 15px;
   position: relative;
   top: 677.5px;
   margin: 0 auto;
   display: inline-block;
}
#animateWord0 {
  animation: expand 5s linear;
  animation-delay: 1s;
}
#animateWord1 {
  animation: expand 5s linear;
  animation-delay: 3s;
}
#animateWord2 {
  animation: expand 5s linear;
}
#animateWord3 {
  animation: expand 5s linear;
  animation-delay: 7s;
}
#animateWord4 {
  animation: expand 5s linear;
  animation-delay: 9s;
}
#animateWord5 {
  animation: expand 5s linear;
  animation-delay: 11s;
}
#animateWord6 {
  animation: expand 5s linear;
  animation-delay: 13s;
}
#animateWord7 {
  animation: expand 5s linear;
  animation-delay: 15s;
}
#animateWord8 {
  animation: expand 5s linear;
  animation-delay: 17s;
}
#animateWord9 {
  animation: expand 5s linear;
  animation-delay: 19s;
}
.set {
  position: absolute;
  color: white;
  margin-top: -40px;
}
.position0{
  margin-left: 50px;
}
 .position1{
  margin-left: 180px;
}
 .position2{
  margin-left: 300px;
}
 .position3{
  margin-left: 420px;
}
 .position4{
  margin-left: 180px;
}
 .position5{
  margin-left: 300px;
}
 .position6{
  margin-left: 420px;
}
 .position7{
  margin-left: 180px;
}
 .position8{
  margin-left: 300px;
}
 .position9{
  margin-left: 420px;
}
@keyframes expand{
    0%{
      margin-top:0px;
      margin-bottom:500px;
    }
    100%{
      margin-top:600px;
      margin-bottom:0px;
    }
}
